{% extends 'base.html' %}
{%  block content %}
    <p>poziom: {{ stage.level }}</p>
    <p>grasz bohaterem: {{ stage.game.hero }}</p>
    <table class="table">
    <tr>
        <th>hp</th><th>attack</th><th>def</th>
    </tr>
    <tr>
        <td>{{ stage.game.hero.hp }}</td>
        <td>{{ stage.game.hero.attack }}</td>
        <td>{{ stage.game.hero.defence }}</td>
    </tr>
    </table>
        <table class="table">
            <p> Przeciwnicy na tej planszy: </p>
            <tr>
                <th>name</th><th>current hp</th><th>attack</th><th>def</th>
            </tr>
            {% for aliveMonster in stage.monsters.all %}
                <tr>
                    <td>{{ aliveMonster.name }}</td>
                    <td>{{ aliveMonster.current_hp }}</td>
                    <td>{{ aliveMonster.attack }}</td>
                    <td>{{ aliveMonster.defence }}</td>
                    {% if aliveMonster.current_hp > 0 %}
                    <td><a class='btn btn-danger' href="{% url 'attack_monster' aliveMonster.id stage.game.hero.id %}">Atakuj</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'fight' stage.id %}" class="btn btn-danger">Walcz</a>
        <p></p>
        {% if stage.prev.count == 1 %}
        <a href="{% url 'stage_detail' stage.id %}" class="btn bg-primary">Poprzednia</a>
        {% endif %}
        <a href="{% url 'stage_detail' stage.next_stage.id %}" class="btn bg-primary">Następna</a>

{% endblock %}